body, html 
{
    background-color: #45eea8;
    
}

#painting
{
    background-color: #dd3c30c2;
    height: 400px;
    width: 400px;
    margin-top: 30px;
    margin-right: auto;
    margin-left: auto;
    box-shadow: 10px 10px 0px #8d8d8d;
}

#toprow 
{
    height: 290px;

}

#bigbox
{
    width: 290px;
    height: 290px;
}

#divider1 
{
    height: 290px;
    width: 10px;
}

#divider2
{
    height: 10px;
    width: 100px;
}

#bottomrow
{
    height: 10px;
    width: 400px;
}

#bottomdivider
{
    height: 100px;
    width: 10px;
}



.right 
{
    float: right;
}


.red
{
    background-color: #ed1000;
}

.blue
{
    background-color: #4a6bcc;
}

.black
{
    background-color: black;
}

.yellow
{
    background-color: #eecf37;
}

.widebox
{
    width: 200px;
    height: 100px;
}

.mediumbox 
{
    width: 100px;
    height: 140px;
}

.green
{
    background-color: #4bb242;
}

.purple
{
    background-color: #d3428b;
}